<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scl.menu.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.scl.menu.domain.Menu">
        <!--@mbg.generated generated on Wed Apr 01 01:49:46 CST 2020.-->
        <!--@Table t_menu-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="flavor" jdbcType="VARCHAR" property="flavor"/>
        <result column="tid" jdbcType="INTEGER" property="tid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Wed Apr 01 01:49:46 CST 2020.-->
        id, `name`, price, flavor, tid
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
    select id, `name`, price, flavor, tid from t_menu limit #{param1},#{param2};
  </select>
</mapper>